@import './constants/vars.scss';
@import './constants/null.scss';
@import './constants/base.scss';
@import './libs/swiper.scss';
@import './components/cards.scss';
@import './components/checkbox-box.scss';
@import './components/sliders.scss';


.header,
.footer {
  background-color: #e1e1e1;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

.phytowall {
  position: relative;

  .decor-1 {
    right: 0;
    top: -4%;
  }
}

.phytowall-top {
  background-image: $gradient, url('../images/sec-1.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 156px 0 166px;

  &__title {
    margin-bottom: 65px;

    span {
      display: block;
      @extend %roboto-300;
      font-size: 38px;
    }
  }

  &__buttons {
    display: flex;
    gap: 26px;
  }

  &__btn {
    @extend %btn;
    padding: 20px 40px;
  }
}

.phytowall-bottom {
  padding-bottom: 95px;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    width: 190px;
    height: 190px;
    padding-top: 30px;
    margin-top: -44px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__text {
    margin-top: 30px;
    width: max-content;

    strong {
      display: block;
    }
  }
}

.section-2 {
  background-color: $bg;
  padding: 100px 0;
  position: relative;

  .decor-2 {
    left: 0;
    bottom: 17%;
  }

  &__items {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    gap: 40px;
  }

  &__item-text {
    padding: 28px 0;
  }
}

.landscaping {
  padding: 80px 0;
  position: relative;

  .decor-3 {
    right: 0;
    top: -28%;
  }
}

.landscaping-top {
  margin-bottom: 80px;
}

.landscaping-bottom {
  &__items {
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 30px;
  }

  &__item {
    padding-bottom: 69.23%;
  }

  &__item-text {
    padding: 15px 0;
  }
}

.quality {
  padding: 116px 0 98px;
  background-color: $bg;
  position: relative;

  .decor-4 {
    left: 0;
    top: -40%;
  }

  .decor-5 {
    right: 0;
    bottom: -30%;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 30px;
  }

  &__item {
    position: relative;
    box-shadow: $shadow;
    border-radius: 3px;
  }

  &__item-img {
    width: 100%;
    border-radius: inherit;
  }

  &__item-info {
    border: 1px solid $border-medium;
    background-color: #fff;
    border-radius: inherit;
    padding: 20px 5px 25px;
    text-align: center;
    min-height: 178px;
  }

  &__item-title {
    margin: 0px;
    @extend %roboto-500;
    font-size: 20px;
    line-height: 1.35;
  }

  &__item-text {
    margin-top: 14px;
    line-height: 1.35;
  }

  &__item-step {
    padding: 13px 18px 14px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $bg-cart;
    border: 1px solid $border-light;
    border-radius: inherit;
    text-align: center;
    color: $light-text;
    font-size: 20px;
    @extend %roboto-400;
    line-height: 1.35;

    span {
      display: block;
      font-size: 64px;
    }
  }
}

.services {
  padding: 80px 0 67px;

  &__title {
    margin-bottom: 32px;
  }

  &__slide-item {
    margin: 13px;
  }

  &__slide-info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slide-title {
    font-size: 20px;
    line-height: 1.35;
    padding: 24px;
    background-color: $bg-cart;
    border-radius: 3px;
    max-width: 300px;
    width: 100%;
    text-align: center;
  }
}

.consultation {
  background-image: $gradient, url('../images/sec-7.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 98px 0 110px;

  &__subtitle {
    font-size: 38px;
    max-width: 520px;
    margin-bottom: 45px;

    span {
      @extend %roboto-500;
    }
  }

  &__form {
    max-width: 372px;
  }

  &__form-input {
    width: 100%;
    padding: 18px;
    color: $light-text;
    border: 1px solid $border-light;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 15px;
  }

  &__form-btn {
    @extend %btn;
    width: 100%;
    margin-bottom: 25px;
  }
}

.portfolio {
  padding: 80px 0;
  position: relative;

  .decor-6 {
    left: 0;
    bottom: 0;
  }

  .decor-7 {
    right: 0;
    bottom: -20%;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
  }

  &__item {
    padding: 30px;
    box-shadow: $shadow;
    border-radius: 3px;
  }

  &__item-img {
    box-shadow: $shadow;
    border-radius: 3px;
    margin-bottom: 30px;
  }

  &__item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item-title {
    @extend %roboto-500;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__item-bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-right: 44px;
  }

  &__item-link:hover {
    text-decoration: underline;
  }

  &__btn {
    @extend %btn;
    padding: 20px 40px;
    margin-left: auto;
  }
}

.reviews {
  &__title {
    margin-bottom: 40px;
  }

  &__slider {
    margin-bottom: 75px;
  }

  &__slide-item {
    margin: 5px 21px;
  }
}

.reviews-bottom {
  background-color: $bg;
  padding: 48px 0 47px;
}

.team {
  padding: 80px 0;
  position: relative;

  .decor-8{
    left: 0;
    top: 12%;
  }
  .decor-9{
    right: 0;
    top: 20%;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 32px;
  }

  &__item {
    box-shadow: $shadow;
    border-radius: 3px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__item-img {
    width: 218px;
    height: 218px;
    border-radius: 50%;
    margin-bottom: 30px;
  }

  &__item-title {
    @extend %roboto-500;
    font-size: 20px;
    line-height: 1.35;
    text-align: center;
    margin-bottom: 20px;
  }
}

.guarantee {
  padding-bottom: 80px;

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    @extend %roboto-300;
    font-size: 24px;
    line-height: 1.35;
    margin: 0;
    margin-bottom: 30px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    text-align: center;
    align-items: center;
    max-width: 245px;
  }

  &__item-img {
    width: 84px;
    height: 84px;
  }

  &__item-text {
    margin: 0;

    strong {
      display: block;
    }
  }
}

.advantages {
  padding-bottom: 80px;

  &__item {
    padding: 15px 20px;
    border: 1px solid $accent;
    border-bottom: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
  }

  &__item:first-child {
    background-color: $accent;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    @extend %roboto-400;
  }

  &__item:last-child {
    border-bottom: 1px solid $accent;
  }

  &__item-top,
  &__item-text {
    margin: 0;
  }

  &__item-text {
    text-align: left;
  }

  &__item-check,
  &__item-minus {
    width: 45px;
    height: 45px;
    background-color: $accent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__item-check {
    background-image: url('../images/icons/check-white.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item-minus {
    background-color: $default;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 21px;
      height: 3px;
      background-color: #fff;
      border-radius: 3px;
      transform: rotate(-5deg);
    }
  }
}

.consultation-2 {
  background-image: url('../images/sec-12.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 123px 0;

  &__inner {
    width: fit-content;
    padding: 35px;
    background-color: #fff;
    border-radius: 3px;
  }

  &__subtitle {
    font-size: 38px;
    max-width: 520px;
    margin-bottom: 45px;

    span {
      @extend %roboto-500;
    }
  }

  &__form {
    max-width: 372px;
  }

  &__form-input {
    width: 100%;
    padding: 18px;
    color: $light-text;
    border: 1px solid $border-light;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 15px;
  }

  &__form-btn {
    @extend %btn;
    width: 100%;
    margin-bottom: 25px;
  }
}

.questions {
  padding-top: 80px;
  position: relative;

  .decor-10{
    left: 0;
    top: 0;
  }
  .decor-11{
    right: 0;
    top: 10%;
  }

  &__item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px 18px 22px;
    border: 1px solid $accent;
    cursor: pointer;

    p {
      margin: 0;
    }

  }

  .open-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: $default;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    transition: all .3s;
  }

  &__item-bottom {
    background-color: $accent;
    border-radius: 3px;
    color: #fff;
    transform: rotateX(90deg);
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 0;
    transition: all .3s;
  }

  &__item-top.active {
    .open-item {
      background-color: $accent;
      transform: rotate(45deg);
    }

    &+.questions__item-bottom {
      transform: rotateX(0deg);
      opacity: 1;
      margin: 1px 0;
      padding: 20px;
      height: auto;
    }
  }
}

.decor {
  position: absolute;
}