<div class="visible-lg visible-md title-v index">
  <header class="header_1 long">
    <div class="logo_and_menu-row">
      <div class="logo-row top-fill">
        <div class="maxwidth-theme">
          <div class="logo-block paddings pull-left">
            <div class="logo">
              <a href="/"><img src="/upload/CLandscape/817/irw3dz3d2rw3cjxgtchrebahbdd1f0nz.png"
                  alt="Инфлор — Интерьерное озеленение в Москве | Все виды озеленения в Москве и МО"
                  title="Инфлор — Интерьерное озеленение в Москве | Все виды озеленения в Москве и МО"></a>
            </div>
          </div>
          <div class="right-icons pull-right">
            <div class="phone-block with_btn">
              <div class="inner-table-block p-block">
                <div class="phone big">
                  <i class="svg inline  svg-inline-phone colored" aria-hidden="true"><svg
                      xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                      <defs>
                        <style>
                          .pcls-1 {
                            fill: #222;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path class="pcls-1"
                        d="M14,11.052a0.5,0.5,0,0,0-.03-0.209,1.758,1.758,0,0,0-.756-0.527C12.65,10,12.073,9.69,11.515,9.363a2.047,2.047,0,0,0-.886-0.457c-0.607,0-1.493,1.8-2.031,1.8a2.138,2.138,0,0,1-.856-0.388A9.894,9.894,0,0,1,3.672,6.253,2.134,2.134,0,0,1,3.283,5.4c0-.536,1.8-1.421,1.8-2.027a2.045,2.045,0,0,0-.458-0.885C4.3,1.932,3.99,1.355,3.672.789A1.755,1.755,0,0,0,3.144.034,0.5,0.5,0,0,0,2.935,0,4.427,4.427,0,0,0,1.551.312,2.62,2.62,0,0,0,.5,1.524,3.789,3.789,0,0,0-.011,3.372a7.644,7.644,0,0,0,.687,2.6A9.291,9.291,0,0,0,1.5,7.714a16.783,16.783,0,0,0,4.778,4.769,9.283,9.283,0,0,0,1.742.825,7.673,7.673,0,0,0,2.608.686,3.805,3.805,0,0,0,1.851-.507,2.62,2.62,0,0,0,1.214-1.052A4.418,4.418,0,0,0,14,11.052Z">
                      </path>
                    </svg>
                  </i>
                  <a href="tel:+74952255063">+7 (495) 225-50-63</a>
                </div>
                <div class="schedule">
                  Ежедневно: с 9:00 до 20:00 </div>
              </div>
              <div class="inner-table-block">
                <span class="callback-block animate-load colored  btn-transparent-bg btn-default btn" data-event="jqm"
                  data-param-id="19" data-name="callback">Заказать звонок</span>
              </div>
            </div>
          </div>
          <div class="col-md-2 pull-right">
            <div class="inner-table-block address">
              <div>
                <i class="svg inline  svg-inline-address colored" aria-hidden="true"><svg
                    xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16">
                    <defs>
                      <style>
                        .cls-1 {
                          fill-rule: evenodd;
                        }
                      </style>
                    </defs>
                    <path data-name="Ellipse 74 copy" class="cls-1"
                      d="M763.9,42.916h0.03L759,49h-1l-4.933-6.084h0.03a6.262,6.262,0,0,1-1.1-3.541,6.5,6.5,0,0,1,13,0A6.262,6.262,0,0,1,763.9,42.916ZM758.5,35a4.5,4.5,0,0,0-3.741,7h-0.012l3.542,4.447h0.422L762.289,42H762.24A4.5,4.5,0,0,0,758.5,35Zm0,6a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,758.5,41Z"
                      transform="translate(-752 -33)"></path>
                  </svg>
                </i>
                <div>
                  Москва, 2-я Мытищинская д. 2 стр. 1, офис 210 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-row bg colored_dark sliced">
      <div class="maxwidth-theme">
        <div class="right-icons pull-right">
          <div class="pull-right">
            <div class="wrap_icon inner-table-block">
              <button class="inline-search-show twosmallfont" title="Поиск">
                <i class="svg inline  svg-inline-search" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" viewBox="0 0 16 16">
                    <defs>
                      <style>
                        .stcls-1 {
                          fill: #222;
                          fill-rule: evenodd;
                        }
                      </style>
                    </defs>
                    <path class="stcls-1"
                      d="M15.644,15.644a1.164,1.164,0,0,1-1.646,0l-2.95-2.95a7.036,7.036,0,1,1,1.645-1.645L15.644,14A1.164,1.164,0,0,1,15.644,15.644ZM7,2a5,5,0,1,0,5,5A5,5,0,0,0,7,2Z">
                    </path>
                  </svg>
                </i> </button>
            </div>
          </div>
        </div>
        <div class="menu-only" style="padding-left: 0px; padding-right: 59px;">
          <nav class="mega-menu sliced">

            <div class="table-menu catalog_icons_Y">
              <div class="marker-nav"></div>
              <table>
                <tbody>
                  <tr>
                    <td class="menu-item wicons dropdown wide_menu" style="visibility: visible;">
                      <div class="wrap">
                        <a class="dropdown-toggle" href="/services/">
                          Услуги <i class="fa fa-angle-down"></i>
                        </a>
                        <span class="tail"></span>
                        <ul class="dropdown-menu">
                          <li class="maxwidth-theme">
                            <ul class="front catalog item-views slider init" style="opacity: 1;">
                              <li class="flexslider row unstyled dark-nav2"
                                data-plugin-options="{&quot;useCSS&quot;: false, &quot;animation&quot;: &quot;slide&quot;, &quot;directionNav&quot;: true, &quot;controlNav&quot;: true, &quot;itemWidth&quot;: 319, &quot;slideshowSpeed&quot;: 3000, &quot;animationLoop&quot;: true, &quot;slideshow&quot;: false, &quot;itemMargin&quot;: 0, &quot;counts&quot;: [1, 1, 1, 1]}">
                                <ul class="slides">
                                  <li class="item item_content" style="height: 398px;">
                                    <div class="image"><a href="/services/gorshechnoe-ozelenenie/ofisy/"><img
                                          src="/upload/resize_cache/iblock/7d2/319_10000_1/j1a5f3waadd4pup4rf4pqavu7gxo13mw.jpeg"
                                          alt="Офисы" title="Офисы"></a></div>
                                    <div class="body-info">
                                      <div class="wrap">
                                        <div class="section_name">Горшечное озеленение</div>

                                        <div class="title font_md" style="height: 48px;">
                                          <a class="dark-color" href="/services/gorshechnoe-ozelenenie/ofisy/">Офисы</a>
                                        </div>

                                      </div>
                                    </div>
                                  </li>
                                  <li class="item item_content" style="height: 398px;">
                                    <div class="image"><a
                                        href="/info/news/skidka-50-na-proektirovanie-pri-zakaze-blagoustroystva-uchastka/"><img
                                          src="/upload/resize_cache/iblock/c7d/319_10000_1/vctt3ra09k0tv5b1wazqwbrgaztibcgk.jpeg"
                                          alt="Дизайн-проект, выезд мастера и консультация - БЕСПЛАТНО!"
                                          title="Дизайн-проект, выезд мастера и консультация - БЕСПЛАТНО!"></a></div>
                                    <div class="body-info">
                                      <div class="wrap">
                                        <div class="section_name">Акции</div>

                                        <div class="title font_md" style="height: 48px;">
                                          <a class="dark-color"
                                            href="/info/news/skidka-50-na-proektirovanie-pri-zakaze-blagoustroystva-uchastka/">Дизайн-проект,
                                            выезд мастера и консультация - БЕСПЛАТНО!</a>
                                        </div>

                                        <div class="period">
                                          <span class="date font_xs">17 октября 2017</span>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </li>
                            </ul>

                            <ul class="menu_left wrightslider">
                              <li class="clearfix dropdown-submenu count_4  has_img">
                                <div class="menu_img wbg"><a href="/services/fitosteny/"><img
                                      src="/upload/uf/0ae/3bt1k6suc62rxqip01y35qn6zz3a86hf.svg" alt="Фитостены"
                                      title="Фитостены"></a></div>
                                <div class="wrapper">
                                  <a class="dark-color" href="/services/fitosteny/" title="Фитостены">Фитостены<span
                                      class="arrow"><i></i></span></a>
                                  <ul class="dropdown-menu toggle_menu">
                                    <li class="  ">
                                      <a href="/services/fitosteny/fitosteny/" title="Фитостены">Фитостены</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/fitosteny/fitokartiny/" title="Фитокартины">Фитокартины</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/fitosteny/servisnoe-obsluzhivanie-f/"
                                        title="Сервисное обслуживание">Сервисное обслуживание</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/fitosteny/fitoosveshchenie/"
                                        title="Фитоосвещение">Фитоосвещение</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li class="clearfix dropdown-submenu count_4  has_img">
                                <div class="menu_img wbg"><a href="/services/fitosteny-iz-mkha-i-rasteniy/"><img
                                      src="/upload/uf/484/f39hplo9os8zjpbthcjyad6xznoyv96p.svg"
                                      alt="Фитостены из мха и растений" title="Фитостены из мха и растений"></a></div>
                                <div class="wrapper">
                                  <a class="dark-color" href="/services/fitosteny-iz-mkha-i-rasteniy/"
                                    title="Фитостены из мха и растений">Фитостены из мха и растений<span
                                      class="arrow"><i></i></span></a>
                                  <ul class="dropdown-menu toggle_menu">
                                    <li class="  ">
                                      <a href="/services/fitosteny-iz-mkha-i-rasteniy/plastovoy-mokh/"
                                        title="Пластовой мох">Пластовой мох</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/fitosteny-iz-mkha-i-rasteniy/yagel/" title="Ягель">Ягель</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/fitosteny-iz-mkha-i-rasteniy/kochka/" title="Мох кочка">Мох
                                        кочка</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/fitosteny-iz-mkha-i-rasteniy/miks-iz-mkhov-i-rasteniy/"
                                        title="Микс из мхов и растений">Микс из мхов и растений</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li class="clearfix dropdown-submenu count_4  has_img">
                                <div class="menu_img wbg"><a href="/services/iskusstvennoe-ozelenenie/"><img
                                      src="/upload/uf/448/d2vyrbt1cdzvrrmtc69o4ibly7tuzxaz.svg"
                                      alt="Искусственное озеленение" title="Искусственное озеленение"></a></div>
                                <div class="wrapper">
                                  <a class="dark-color" href="/services/iskusstvennoe-ozelenenie/"
                                    title="Искусственное озеленение">Искусственное озеленение<span
                                      class="arrow"><i></i></span></a>
                                  <ul class="dropdown-menu toggle_menu">
                                    <li class="  ">
                                      <a href="/services/iskusstvennoe-ozelenenie/iskusstvennoe-ozelenenie/"
                                        title="Искусственное озеленение">Искусственное озеленение</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/iskusstvennoe-ozelenenie/iskusstvennye-rasteniya/"
                                        title="Искусственные растения">Искусственные растения</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/iskusstvennoe-ozelenenie/iskusstvennye-derevya/"
                                        title="Искусственные деревья">Искусственные деревья</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/iskusstvennoe-ozelenenie/iskusstvennye-fitosteny/"
                                        title="Искусственные фитостены">Искусственные фитостены</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li class="clearfix dropdown-submenu count_4  has_img">
                                <div class="menu_img wbg"><a href="/services/izdeliya-iz-mkha/"><img
                                      src="/upload/uf/d06/uvztotj7gs353hj1hh489lnk4bspg1oo.svg" alt="Изделия из мха"
                                      title="Изделия из мха"></a></div>
                                <div class="wrapper">
                                  <a class="dark-color" href="/services/izdeliya-iz-mkha/"
                                    title="Изделия из мха">Изделия из мха<span class="arrow"><i></i></span></a>
                                  <ul class="dropdown-menu toggle_menu">
                                    <li class="  ">
                                      <a href="/services/izdeliya-iz-mkha/logotipy-iz-mkha/"
                                        title="Логотипы из мха">Логотипы из мха</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/izdeliya-iz-mkha/logotipy-iz-mkha-s-podsvetkoy/"
                                        title="Логотипы из мха с подсветкой">Логотипы из мха с подсветкой</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/izdeliya-iz-mkha/karty-mira/" title="Карты мира">Карты мира</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/izdeliya-iz-mkha/abstraktnye-figury-iz-mkha/"
                                        title="Абстрактные фигуры из мха">Абстрактные фигуры из мха</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li class="clearfix dropdown-submenu count_4  has_img">
                                <div class="menu_img wbg"><a href="/services/gorshechnoe-ozelenenie/"><img
                                      src="/upload/uf/894/un17tob767apfcozbgtyzfxcrneynbi3.svg"
                                      alt="Горшечное озеленение" title="Горшечное озеленение"></a></div>
                                <div class="wrapper">
                                  <a class="dark-color" href="/services/gorshechnoe-ozelenenie/"
                                    title="Горшечное озеленение">Горшечное озеленение<span
                                      class="arrow"><i></i></span></a>
                                  <ul class="dropdown-menu toggle_menu">
                                    <li class="  ">
                                      <a href="/services/gorshechnoe-ozelenenie/ofisy/" title="Офисы">Офисы</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/gorshechnoe-ozelenenie/doma-kvartiry/"
                                        title="Дома, квартиры">Дома, квартиры</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/gorshechnoe-ozelenenie/restorany-kafe/"
                                        title="Рестораны, кафе">Рестораны, кафе</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/gorshechnoe-ozelenenie/salony-krasoty/"
                                        title="Салоны красоты">Салоны красоты</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/gorshechnoe-ozelenenie/tts-bts/" title="ТЦ БЦ">ТЦ БЦ</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/gorshechnoe-ozelenenie/servisnoe-obsluzhivanie-go/"
                                        title="Сервисное обслуживание">Сервисное обслуживание</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li class="clearfix dropdown-submenu count_4  has_img">
                                <div class="menu_img wbg"><a href="/services/servisnoe-obsluzh/"><img
                                      src="/upload/uf/0b2/m13kcj5ys6so3wqfrwhrxri6lh74crvt.svg"
                                      alt="Сервисное обслуживание" title="Сервисное обслуживание"></a></div>
                                <div class="wrapper">
                                  <a class="dark-color" href="/services/servisnoe-obsluzh/"
                                    title="Сервисное обслуживание">Сервисное обслуживание<span
                                      class="arrow"><i></i></span></a>
                                  <ul class="dropdown-menu toggle_menu">
                                    <li class="  ">
                                      <a href="/services/servisnoe-obsluzh/ofisy-so/" title="Офисы"
                                        style="white-space: normal;">Офисы</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/servisnoe-obsluzh/doma-kvartiry-so/" title="Дома, квартиры"
                                        style="white-space: normal;">Дома, квартиры</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/servisnoe-obsluzh/restorany-kafe-so/" title="Рестораны, кафе"
                                        style="white-space: normal;">Рестораны, кафе</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/servisnoe-obsluzh/salony-krasoty-so/" title="Салоны красоты"
                                        style="white-space: normal;">Салоны красоты</a>
                                    </li>
                                    <li class="  ">
                                      <a href="/services/servisnoe-obsluzh/tts-bts-so/" title="ТЦ БЦ"
                                        style="white-space: normal;">ТЦ БЦ</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td class="menu-item wicons dropdown" style="visibility: visible;">
                      <div class="wrap">
                        <a class="dropdown-toggle" href="/projects/">
                          Проекты <i class="fa fa-angle-down"></i>
                        </a>
                        <span class="tail"></span>
                        <ul class="dropdown-menu">
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/projects/zhivye-fitosteny/" title="Живые Фитостены">Живые
                                Фитостены</a>
                            </div>
                          </li>
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/projects/stabilizirovannyy-mokh/"
                                title="Стабилизированный мох">Стабилизированный мох</a>
                            </div>
                          </li>
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/projects/iskusstvennoe-ozelenenie/"
                                title="Искусственное озеленение">Искусственное озеленение</a>
                            </div>
                          </li>
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/projects/gorshechnoe-ozelenenie/"
                                title="Горшечное озеленение">Горшечное озеленение</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td class="menu-item wicons dropdown" style="visibility: visible;">
                      <div class="wrap">
                        <a class="dropdown-toggle" href="/price/">
                          Прайс <i class="fa fa-angle-down"></i>
                        </a>
                        <span class="tail"></span>
                        <ul class="dropdown-menu">
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/price/#price" title="Прайс на услуги">Прайс на услуги</a>
                            </div>
                          </li>
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/price/#priceis" title="В указанную стоимость входит">В
                                указанную стоимость входит</a>
                            </div>
                          </li>
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/price/#light" title="Освещение для фитостен">Освещение для
                                фитостен</a>
                            </div>
                          </li>
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/price/#otherpay"
                                title="Услуги, оплачиваемые отдельно">Услуги, оплачиваемые отдельно</a>
                            </div>
                          </li>
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/price/#service" title="Сервисное обслуживание">Сервисное
                                обслуживание</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td class="menu-item wicons dropdown" style="visibility: visible;">
                      <div class="wrap">
                        <a class="dropdown-toggle" href="/company/">
                          О компании <i class="fa fa-angle-down"></i>
                        </a>
                        <span class="tail"></span>
                        <ul class="dropdown-menu">
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/company/index.php" title="О нас">О нас</a>
                            </div>
                          </li>
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/company/clients/" title="Наши клиенты">Наши клиенты</a>
                            </div>
                          </li>
                          <li class="clearfix  count_4  ">
                            <div class="wrapper">
                              <a class="dark-color" href="/company/requisites/" title="Реквизиты">Реквизиты</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td class="menu-item wicons" style="visibility: visible;">
                      <div class="wrap">
                        <a class="" href="/contacts/">
                          Контакты <i class="fa fa-angle-down"></i>
                        </a>
                      </div>
                    </td>
                    <td class="menu-item wicons" style="visibility: visible;">
                      <div class="wrap">
                        <a class="" href="http://inflorshop.ru/">
                          Магазин <i class="fa fa-angle-down"></i>
                        </a>
                      </div>
                    </td>

                    <td class="menu-item dropdown js-dropdown nosave" style="display: none; visibility: visible;">
                      <div class="wrap">
                        <a class="dropdown-toggle more-items" href="#">
                          <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="3" viewBox="0 0 17 3">
                              <defs>
                                <style>
                                  .cls-1 {
                                    fill-rule: evenodd;
                                  }
                                </style>
                              </defs>
                              <path class="cls-1"
                                d="M923.5,178a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,923.5,178Zm7,0a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,930.5,178Zm7,0a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,937.5,178Z"
                                transform="translate(-922 -178)"></path>
                            </svg>
                          </span>
                        </a>
                        <span class="tail"></span>
                        <ul class="dropdown-menu"></ul>
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </nav>
        </div>
        <div class="lines"></div>
      </div>
    </div>
    <div class="line-row"></div>
  </header>
</div>